*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Gotham Rounded', sans-serif;
  font-weight: normal;
}

html, body {
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  padding: 0;
  margin: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  min-height: 100vh;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}