*, * ::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calc-display-input {
  width: 360px;
  height: 60px;
  margin: 20px 0;
  border-radius: 6px;
  background-color: #1d1d1d;
  color: #fff;
  text-align: right;
  font-size: 35px;
  padding: 10px;
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
     outline: none;
     background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.four-size {
    grid-column:  span 4;
    border-radius: 0 0 6px 6px;
} 
.output {
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    background-color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;;
    font-size: 1.5rem;
}
